---
import { siteConfig, pages } from '../config'

interface Props {
    nav?: typeof siteConfig.navItems
}

const { nav = siteConfig.navItems } = Astro.props
const { pathname } = Astro.url
---
<header class="sidebar__header">
    <h5 class="sidebar__brand">
        <a href="/" class="sidebar__brand-link">{siteConfig.brand}</a>
    </h5>
</header>
<nav class="sidebar__nav">
    <ul class="sidebar__nav-options">
        {nav.map(key => (
            <li class="sidebar__nav-item">
                <a
                    class="sidebar__nav-link"
                    href={pages[key].path}
                    aria-current={pathname === pages[key].path ? 'page' : undefined}
                >
                    {pages[key].title}
                </a>
            </li>
        ))}
    </ul>
</nav>
<style>
.sidebar__header { @apply mb-4 p-4 border-b border-accent }
.sidebar__brand-link { @apply no-underline hover:text-accent rounded; }
.sidebar__nav-options { @apply space-y-4 md:my-12; }
.sidebar__nav-link { @apply block md:px-8 hover:bg-accent rounded text-muted hover:text-text; }
.sidebar__nav-link[aria-current="page"] {
    @apply bg-accent font-semibold text-text;
}
</style>
