---
import BaseLayout from '../layouts/BaseLayout.astro'
import ResearcherCard from '@/components/ResearcherCard.astro';
import { getCollection } from 'astro:content';

// TODO: Figure out Zod type validation
const fellows = await getCollection('fellows')
---
<BaseLayout key="fellows">
    <div class="fellow-grid">
        {fellows.map(fellow => (
            <ResearcherCard {...fellow.data} />
        ))}
    </div>
</BaseLayout>

<style>
    .fellow-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px);
        gap: 1rem;
    }
</style>
