---
import Sidebar from '../components/Sidebar.astro';
import { pages, siteConfig } from '../config'
import LayoutBase from '../layouts/LayoutBase.astro'
import { HOME } from '../types';

interface Props {
    key: keyof typeof pages | typeof HOME
}

const { key } = Astro.props;
const config = key === HOME ? siteConfig : pages[key];
---

<LayoutBase title={config.title} description={config.description}>
    <Sidebar slot="sidebar" />
    <slot>
        <p>{config.description}</p>
    </slot>
</LayoutBase>
